/* VARIBLES */
:root {
  --main-body-color: #edf3f8;
  --main-white-color: #fff;
  --main-balck-color: #000;
  --main-dark-pink: #BA4270;
  --main-white-water-color: #FBFCFE;
  --main-white-water-color-two: #E1E1E1;
  --main-san-juan-color: #36536B;
  --main-mirage-blue-color: #1B262F;
  --main-charm-color: #DA6D97;
  --main-white-san-blue: #6C8294;
}

/* FONTS */
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* GENERAL */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  height: 100%;
  background-color: #EDF3F8;
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", "Arial", sans-serif;
  font-family: "Public Sans", "Arial", sans-serif;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1180px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* ============ Burger Menyu ============= */
.site-header {
  padding: 45px 0 52px;
  background-image: url("../images/header-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.site-header__burger {
  width: 28px;
  height: 17px;
  background-color: transparent;
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.site-header-close {
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-bottom: 64px;
  margin-left: 220px;
  position: relative;
}
.site-header-close::before {
  position: absolute;
  left: -220px;
  bottom: -24px;
  background-color: var(--main-white-water-color);
  width: 249px;
  height: 1px;
  opacity: 0.15;
  content: "";
}

.site-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 49px;
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 300px;
  width: 100%;
  background-color: var(--main-mirage-blue-color);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.site-nav__wrapper.shownav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sitenav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.7;
  display: inline-block;
  margin-bottom: 32px;
  color: var(--main-white-water-color);
}

.site-nav__btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--main-white-color);
  background-color: var(--main-dark-pink);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  padding: 16px 34px 14px 38px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site-nav__btn:active {
  background-color: var(--main-charm-color);
}

@media only screen and (min-width: 700px) {
  .site-header {
    background-image: none;
  }
  .site-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header {
    padding: 30px 0 51px;
  }
  .sitenav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
  }
  .site-nav__button {
    margin-left: auto;
    margin-top: -20px;
  }
  .site-header__burger {
    display: none;
  }
  .site-nav__wrapper {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-width: none;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: transparent;
    padding-top: 0;
  }
  .site-header-close {
    display: none;
  }
  .sitenav-link {
    color: var(--main-san-juan-color);
    margin-bottom: 0;
    margin-left: 10px;
    opacity: 0.7;
  }
  .sitenav-link:active {
    color: #36536B;
    opacity: 1;
  }
}
@media only screen and (min-width: 900px) {
  .site-header {
    overflow: hidden;
  }
  .site-nav__link:active {
    color: #36536B;
  }
}
@media only screen and (min-width: 1000px) {
  .sitenav-list {
    margin-left: 65px;
  }
  .sitenav-link {
    margin-left: 40px;
  }
  .sitenav-link:active {
    color: #36536B;
  }
}
.about-hero {
  padding-bottom: 328px;
  background-image: url("../images/person-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.about-hero__inner {
  min-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.about-hero__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  color: #36536B;
  margin: 0;
  margin-bottom: 40px;
}

.about-hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-hero__title2 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.184615px;
  color: #36536B;
  margin: 0;
  margin-bottom: 16px;
}

.about-hero__text {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
  margin: 0;
  margin-bottom: 48px;
}

@media only screen and (min-width: 500px) {
  .about-hero {
    background-size: 500px 300px;
  }
}
@media only screen and (min-width: 600px) {
  .about-hero {
    background-size: 600px 300px;
  }
}
@media only screen and (min-width: 600px) {
  .about-hero {
    background-image: url("../images/person-tablet.png");
    background-size: 700px 267px;
  }
  .about-hero__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
  }
  .about-hero__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .about-hero__title2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    letter-spacing: -0.246154px;
  }
  .about-hero__text {
    width: 450px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
  }
}
@media only screen and (min-width: 800px) {
  .about-hero {
    background-size: 850px 267px;
  }
  .about-hero__text {
    width: 500px;
  }
}
@media only screen and (min-width: 900px) {
  .about-hero {
    background-size: 950px 267px;
  }
  .about-hero__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-hero__title2 {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 900px) {
  .about-hero {
    background-size: 1050px 267px;
  }
}
@media only screen and (min-width: 1024px) {
  .about-hero {
    background-image: url("../images/person-desktop.png");
    background-position: 50% 100%;
    background-size: 1440px 500px;
    background-repeat: no-repeat;
    padding-bottom: 500px;
  }
  .about-hero__title {
    width: 730px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    margin-bottom: 51px;
  }
  .about-hero__title2 {
    margin-right: 100px;
  }
  .about-hero__text {
    width: 635px;
  }
}
.about-team {
  padding: 48px 0;
}

.about-team__box::before {
  content: "";
  display: block;
  width: 327px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 16px;
  background-color: #36536B;
  opacity: 0.25;
}
.about-team__box::after {
  content: "";
  display: block;
  width: 327px;
  height: 1px;
  margin: 0 auto;
  background-color: #36536B;
  opacity: 0.25;
  margin-top: 16px;
  margin-bottom: 48px;
}

.about-team__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.about-team__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-team__text {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #36536B;
  opacity: 0.7;
  margin: 0;
}

.about-team__span {
  display: inline-block;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.430769px;
  color: #BA4270;
}

.about-culture {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.about-culture__item:not(:last-child) {
  margin-bottom: 48px;
}

.about-culture__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.184615px;
  color: #36536B;
  margin: 0;
  margin-bottom: 16px;
}

.about-culture__text {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
  margin: 0;
}

@media only screen and (min-width: 500px) {
  .about-team__box::before {
    width: 427px;
  }
  .about-team__box::after {
    width: 427px;
  }
}
@media only screen and (min-width: 600px) {
  .about-team__box::before {
    width: 527px;
    margin-bottom: 30px;
  }
  .about-team__box::after {
    width: 527px;
    margin-top: 30px;
  }
  .about-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .about-team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 600px) {
  .about-team__box::before {
    display: none;
  }
  .about-team__box::after {
    display: none;
  }
  .about-team__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about-team__item::before {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 16px;
    background-color: #36536B;
    opacity: 0.25;
  }
  .about-team__item::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    margin: 0 auto;
    background-color: #36536B;
    opacity: 0.25;
    margin-top: 16px;
    margin-bottom: 48px;
  }
  .about-team__text {
    display: none;
  }
  .about-culture__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0;
  }
  .about-culture__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.246154px;
  }
  .about-culture__text {
    width: 450px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
  }
}
@media only screen and (min-width: 600px) {
  .about-culture__text {
    width: 500px;
  }
}
@media only screen and (min-width: 900px) {
  .about-culture__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-culture__text {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .about-team__text {
    display: block;
  }
  .about-team__item::before {
    content: "";
    display: block;
    width: 350px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 16px;
    background-color: #36536B;
    opacity: 0.25;
  }
  .about-team__item::after {
    content: "";
    display: block;
    width: 350px;
    height: 1px;
    margin: 0 auto;
    background-color: #36536B;
    opacity: 0.25;
    margin-top: 16px;
    margin-bottom: 48px;
  }
  .about-culture__text {
    width: 635px;
    margin-left: 100px;
  }
}
.about-ready {
  padding-bottom: 80px;
}

.about-ready__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
  margin: 0;
  margin-bottom: 32px;
}

.about-ready__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-ready__inp {
  width: 327px;
  border-color: transparent;
  background-color: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  padding: 15px 27px;
  margin-bottom: 16px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
}
.about-ready__inp::-webkit-input-placeholder {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.5;
}
.about-ready__inp::-moz-placeholder {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.5;
}
.about-ready__inp:-ms-input-placeholder {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.5;
}
.about-ready__inp::-ms-input-placeholder {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.5;
}
.about-ready__inp::placeholder {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.5;
}

.about-ready__inp:not(:-moz-placeholder-shown):not(:focus):invalid {
  border-color: #f00;
  color: #f00;
  opacity: 0.5;
}

.about-ready__inp:not(:-ms-input-placeholder):not(:focus):invalid {
  border-color: #f00;
  color: #f00;
  opacity: 0.5;
}

.about-ready__inp:not(:placeholder-shown):not(:focus):invalid {
  border-color: #f00;
  color: #f00;
  opacity: 0.5;
}

.about-ready__btn {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  padding: 16px 100px;
  border: none;
  background: #BA4270;
  border-radius: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.about-ready__btn:active {
  background: #DA6D97;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

@media only screen and (min-width: 500px) {
  .about-ready__inp {
    width: 427px;
  }
  .about-ready__btn {
    width: 427px;
  }
}
@media only screen and (min-width: 700px) {
  .about-ready__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    margin-bottom: 40px;
  }
  .about-ready__form {
    position: relative;
  }
  .about-ready__inp {
    position: relative;
    width: 445px;
  }
  .about-ready__btn {
    position: absolute;
    top: 2px;
    left: 58%;
    width: 173px;
    padding: 15px 25px;
  }
}
@media only screen and (min-width: 700px) {
  .about-ready__inp {
    width: 600px;
  }
  .about-ready__btn {
    left: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .about-ready__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .about-ready__inp {
    width: 435px;
  }
  .about-ready__btn {
    left: 60%;
  }
}
.site-footer {
  background-image: url("../images/footer-bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.foot-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.foot-logo {
  margin-top: 41px;
}

.foot-box__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 44px;
  margin-bottom: 40px;
}

.foot-box__item:not(:last-child) {
  margin-bottom: 31px;
}

.foot-box__link {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  opacity: 0.7;
  text-decoration: none;
}
.foot-box__link:active {
  color: #FBFCFE;
  opacity: 1;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 41px;
}

.social-list__item:nth-child(2) {
  margin: 0 24px;
}

.social-list__link {
  color: #FBFCFE;
}
.social-list__link:active {
  color: #DA6D97;
}

@media only screen and (min-width: 500px) {
  .foot-box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-box__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .foot-box__link:active {
    color: #FBFCFE;
  }
}
@media only screen and (min-width: 600px) {
  .site-footer {
    background-position: top;
  }
  .foot-box__item:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }
  .social-list__item:nth-child(2) {
    margin: 0 60px;
  }
  .foot-box__link:active {
    color: #FBFCFE;
  }
}
@media only screen and (min-width: 600px) {
  .site-footer {
    background-image: url("../images/foot-bg-tablet.png");
    background-size: cover;
    padding: 31px 0;
  }
  .foot-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-logo {
    margin: 0;
  }
  .foot-box__list {
    margin: 0;
  }
  .foot-box__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .social-list {
    margin-bottom: 0;
  }
  .social-list__item:nth-child(2) {
    margin: 0 24px;
  }
  .foot-box__link:active {
    color: #FBFCFE;
  }
}
@media only screen and (min-width: 1024px) {
  .foot-box__list {
    margin-right: auto;
    margin-left: 65px;
  }
  .foot-box__link:active {
    color: #FBFCFE;
  }
}/*# sourceMappingURL=main.css.map */