
//  Contact form hero start ==========================

.contact__circle {
    background-image: url("../images/icons/Bitmap.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 340px) calc(50% - 850px);
}


.contact__hero-block {
    width: 327px;
    margin: 0 auto
}

.contact__hero-title {
    font-family: "DM Serif Display", "Arial", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color:var(--main-san-juan-color);
    margin: 0 0 40px;
}


.contact__hero-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto 80px;
    max-width: 327px;
    width: 100%;
}

.contact__hero-username , .contact__hero-message {
    max-width: 327px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #B1B4B6;
    opacity: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    &::placeholder {
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.115385px;
        opacity: 0.5;
    }
}

.contact__hero-message {
    resize: none;
    margin-bottom: 27px;
}

.contact__hero-username:focus {
    border-bottom-color: var(--main-san-juan-color);
}

.contact__hero-message:focus {
    opacity: 1;
}

.contact__form-span {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.0846154px;
    color: #ff0000;
    opacity: 0;
    padding-left: 20px;
}


.contact__hero-username:not(:placeholder-shown):not(:focus):invalid{
    color: #ff0000;
    opacity: 1;
    border-bottom-color: #ff0000;
}


.contact__hero-username:not(:placeholder-shown):not(:focus):invalid + span {
    opacity: 1;
}


.contact__form-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    max-width: 152px;
    width: 100%;
    color: var(--main-san-juan-color);
    border: 1px solid var(--main-san-juan-color);
    border-radius: 24px;
    background-color: transparent;
    padding: 16px 0 14px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        background-color: var(--main-san-juan-color);
        color:var( --main-white-water-color);
    }
}

.contact__form-checked {
    display: flex;
    align-items: center;
}

.contact__form-true { 
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--main-san-juan-color);
    opacity: 0.25;
    margin-right: 26px;
    cursor: pointer;
}



.contact__form-check input:checked ~ .contact__form-true { 
    background-image: url("../images/icons/checkend.svg");
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: center;
    opacity: 1;
    background-color: red;

}

.contact__form-text {
    font-family: "Public Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    max-width: 277px;
    width: 100%;
    letter-spacing: -0.115385px;
    color:var(--main-san-juan-color);
}

.contact__hero-compblock {
    width: 327px;
    margin: 0 auto;
}

.contact__hero-subtitle {
    font-family: "DM Serif Display", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.184615px;
    color:var(--main-san-juan-color);
    margin-bottom: 32px;
    margin-top: 0;
}


.contact__hero-list {
    @include list-none;
    
}

.contact__hero-item {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    gap: 50px;
}


.contact__hero-link {
    fill:var(--main-san-juan-color);
}


// ====================================== 320 px ================================================

@include mobile-first (320px) {

    .contact__hero-compblock  {
        width: 280px;
        font-size: 28px !important;
    }


    .contact__hero-item {
        grid-template-columns: repeat(1,auto);
    }

    .contact__hero-subtitle{
        font-size: 18px;
    }

    .contact__form-text {
        font-size: 12px;
    }

   

   
}


// ====================================== 375 px ================================================


@include mobile-first (375px) {

    .contact__hero-block {
        width: 327px;
    }


    .contact__hero-compblock  {
        width: 327px;
        font-size: 32px !important;
    }


    .contact__hero-item {
        grid-template-columns: repeat(2,auto);
    }

    .contact__hero-subtitle{
        font-size: 24px;
    }

    .contact__form-text {
        font-size: 15px;
    }

}


// ====================================== 550 px ================================================


@include mobile-first (550px) {
    .contact__hero-block {
        width: 450px;
    }

    .contact__hero-title {
        font-size: 40px;
    }
}


// ====================================== 700 px ================================================

@include mobile-first (700px) {

    .contact__circle {
        background-position: calc(50% + 340px) calc(50% - 780px);
    }


    .contact__hero-item {
        grid-template-columns: repeat(3,auto);
        gap: 60px;
    }

    .contact__hero-form {
        max-width: 445px;
        width: 100%;
    }
    
    .contact__hero-username , .contact__hero-message {
        max-width: 445px;
        width: 100%;
    }
    
    .contact__form-text {
        max-width: 395px;
        width: 100%;
    }

    .contact__hero-title {
        padding-top: 25px;
    }

    .contact__hero-compblock {
        width: 445px;
    }

}


// ====================================== 1000 px ================================================

@include mobile-first (1000px) {

    .contact__circle {
        background-position: calc(50% + 340px) calc(50% - 550px);
    }

    .contact__hero-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

  

    .contact__hero-block {
        width: 500px;
    }

    .contact__hero-title {
        text-align: start;
    }

    .contact__hero-form {
        margin: 0;
    }

    .contact__hero-block {
        margin: 0;
    }

    .contact__hero-company {
        margin-top: -30px;
    }

    .contact__hero-item {
        grid-template-columns: repeat(3,auto);
        gap: 30px;
    }

    .contact__hero-subtitle {
        text-align: start;
    }

}


// ====================================== 1100 px ================================================

@include mobile-first (1100px) {

    .contact__hero-item {
        grid-template-columns: repeat(3,auto);
        gap: 60px;
    }

    .contact__hero-company {
        margin-top: 0;
    }

    .contact__hero-compblock {
       margin: 0 0 40px;
    }
}


//  Contact form hero end ==========================
